<!--Presentation content-->
<div class="presentation-container">
  <div class="present-image"></div>
  <div class="present-info">
    <div class="present-title">
      <h1>Augustus Residence</h1>
      <h2>Nyon, Vaud</h2>
    </div>
    <div class="present-menu-header">
      <div class="present-menu-header-title">
        <p>Available to invest</p>
        <p>CHF 15`000`000</p>
      </div>
      <div class="present-line">
        <div class="present-pay-line" [ngStyle]="{'width': payBlockWidth + '%'}"></div>
      </div>
    </div>
    <div class="present-menu-row row-between">
      <div class="present-menu-item row-between">
        <p>Purchase cost</p>
        <p>CHF 35`000`000</p>
      </div>
      <div class="present-menu-item row-between">
        <p>Mortgage (LTV)</p>
        <p>55.00%</p>
      </div>
    </div>
    <div class="present-menu-row row-between">
      <div class="present-menu-item row-between">
        <p>Min.investment</p>
        <p>CHF 100`000</p>
      </div>
      <div class="present-menu-item row-between">
        <p>Holding period</p>
        <p>7 years</p>
      </div>
    </div>
    <div class="present-menu-row row-between">
      <div class="present-menu-item row-between">
        <p>Investment type</p>
        <p>Co-Ownership</p>
      </div>
      <div class="present-menu-item row-between">
        <p>Expected return on equity</p>
        <p>6.00%</p>
      </div>
    </div>
    <div class="present-info-button">
    <input type="button" value="More details" class="info-button font-upper">
  </div>
  </div>
</div>
